{% extends "AppJoyeria/base.html" %}
{% load static %}
{% block titulo %}Carga De Ventas{% endblock titulo %}

{% block contenidoQueCambia %}
<div class="main-container">
    <div class="form-container">
        <h1>Aquí Cargamos nuestras Ventas</h1> 
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ miFormulario.as_table }}
            </table>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>
{% endblock contenidoQueCambia %}