{% extends "AppJoyeria/base.html" %}
{% load static %}
{% block titulo %}Listar Ventas{% endblock titulo %}

{% block contenidoQueCambia %}
<div class="container">
    <div class="table-container">
        <h1>Lista de Ventas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID VENTA</th>
                    <th>FECHA</th>
                    <th>ID CLIENTE</th>
                    <th>ID ARTICULO</th>
                    <th>CANTIDAD</th>
                    <th>MONTO VENTA</th>
                    <th>TIPO DE PAGO</th>
                </tr>
            </thead>
            <tbody>
                {% for v in ventas %}
                    <tr>
                        <td>{{ v.idVenta }}</td>
                        <td>{{ v.fecha }}</td>
                        <td>{{ v.idCliente }}</td>
                        <td>{{ v.idArt }}</td>
                        <td>{{ v.cant }}</td>
                        <td>{{ v.montoVta }}</td>
                        <td>{{ v.tipoPago }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenidoQueCambia %}